@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
canvas {
	border-color: black;
	border: 5px;
	border-style: solid;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height:90%;
	width:(height*1200/705)px;
}
body{
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
}